@import "../styles/variables";
.root-container {
  background-color: #fcfcfc;
}

.about-container {
  h1 {
    font-size: 24pt;
    padding: 16pt;
  }

  .text-block {
    padding: 16px;
    max-width: 768px;
    margin: 16px auto;
    border-radius: 16px;
    font-size: 18pt;
    font-family: serif;
    background-color: $primaryColor;
    box-shadow: $secondaryColor 0px 0px 4px 0px;

    .text-block-image {
      margin: 32px;
      margin-top: 0px;
      border: 3px solid black;
    }

    h1 {
      text-align: center;
    }
  }

  .media-container {
    max-width: 768px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    border-radius: 16px;
    background-color: $primaryColor;
    box-shadow: black 0px 0px 4px 0px;

    ul {
      list-style: none;
    }

    li {
      margin: 8px;

      iframe {
        max-width: 90vw;
      }
    }
  }
}