@import "../styles/variables";

.hero-shot-container {
    display: flex;
    width: 100%;
    height: 100vh;
    place-content: center;
    background-color: $primaryColor;

    & > div {
        display: flex;
        flex-direction: row;
        max-width: $maxSectionWidth;
        width: 100%;

        & > div, & > div > div {
            display: flex;
            flex-direction: column;
        }

        & > div > div {
            padding: 8px;
            overflow: hidden;
        }

        & > div > div > div {
            height: 100%;
            background: $primaryColor;
            border: none;
            border-radius: 16px;
            overflow: hidden;
        }
    }

    .hero-shot-text {
        min-width: fit-content;

        & > div {
            padding: 8px;
        }

        h1 {
            font-size: 50pt;
            font-weight: bold;
        }

        h2 {
            font-size: 30pt;
        }
    }

    .hero-shot-image {
        height: 100%;
    }

    .hero-shot-text-column {
        width: 30%;
        min-width: min-content;
    }

    .grow-to-fill {
        flex-grow: 1;
    }
}

.cta-section {
    padding: 16px;
    background-color: $primaryColor;
    display: flex;
    place-content: center;

    & > div {
        max-width: $maxSectionWidth;
    }

    button {
        border-radius: 8px;
        font-size: 20pt;
        background-color: $secondaryColor;
        color: $fontColorSecondary;
        border: none;
        padding: 8px;
        box-shadow: $secondaryColor 0px 0px 6px 1px;
    }
    button:hover {
        background-color: $ternaryColor;
    }
}