@import "../styles/variables";

.directions-and-hours-container {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ededed;
  min-width: fit-content;
  display: flex;
  width: 100%;

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    margin: 16px;
  }

  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .directions-and-hours {
    display: flex;
    flex-wrap: wrap;
  }

  .address-and-hours-container {
    margin: auto;
    font-size: 16pt;
    text-align: center;

    & > div {
      margin-bottom: 16px;
    }

    label {
      font-weight: bold;
      display: block;
    }
  }

  .map-container {
    margin: auto;
    border: 6px solid #006200;

    iframe {
      width: 40vw;
      min-width: 300px;
      max-width: 600px;
    }
  }
}